{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <div class="container">
        <section class="bg-dark p-5 mt-5 mb-5 text-light">
            <form action="" method="POST">
                <h1 class="text-center">Search For Any Movie</h1>
                <input type="text" class="form-control form-control-lg" name="searchText" placeholder="Search Movies...">
            </form>
        </section>

        <div class="row g-3 mb-4">
            {% if movies %}
            {% for movie in movies %}
            {% if movie.Poster != 'N/A' %}
            <div class="col-md-4 col-lg-3 col-sm-12">
                <div class="card" style="height: 100%">
                    <img src="{{ movie.Poster }}" class="img-fluid card-img-top" alt="" style="height">
                    <div class="card-body">
                      <h6 class="card-title">{{ movie.Title }}</h6>
                      <a href="/movie/{{movie.imdbID}}" class="btn btn-primary">Movie Details</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}